$white-colour: #fff; //tile text, background
$dark-colour: #111; //header at the top
$dark-grey: #343436;//dates ,first paragraph text, brackets,under sub headings & subheadings,darker-tile
$medium-grey: #4d4e50; //header-background, medium-tile
$light-grey: #76777b; //lighter tile 
$lightest-grey: #9b9b9b; //lightest tile

$quote-colour: #979797;
$video-caption-colour: #d8d8d8;
$small-text-colour: #4a4a4a



