header {
  position: relative;
  display: block;
  width: 1392px;
  height: 48px;
  background-color: #4d4e50; }
  header h1 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    display: inline; }
  header .navigation {
    position: relative;
    height: 48px;
    bottom: 43px;
    left: 80%;
    width: 190px; }
  header ul {
    list-style-type: none;
    background-color: #76777b;
    height: 48px; }

main {
  background: #fff;
  position: relative;
  display: inline; }

.openday-section1,
.openday-section2,
.openday-section3,
.openday-section4 {
  position: relative;
  width: 1392px;
  display: inline;
  border-bottom: 2px solid #111; }

.openday-image--intro {
  width: 1392px; }

.section1c1 {
  width: 30%;
  border: 2px solid green; }

.section1c2 {
  width: 50%;
  border: 2px solid blue; }

.openday-title--main {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-family: FreightSansMediumSC;
  padding-left: 50px; }

.openday-book-link {
  position: absolute;
  top: 77px;
  left: 1100px;
  padding: 10px;
  background-color: #76777b;
  color: #fff; }

.openday-title--intro {
  font-family: FreightSansProSemi;
  font-size: 72px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  margin: 0;
  text-transform: uppercase; }

.openday-title--intro:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  bottom: 0;
  border-bottom: 5px solid #000; }

.openday-dates {
  color: #343436;
  list-style-type: none;
  text-transform: uppercase; }
  .openday-dates li {
    margin: 10px 0; }

.openday-content--intro {
  position: relative;
  left: 50%;
  font-size: 20px;
  width: 50%;
  padding-bottom: 2 px; }
  .openday-content--intro p:first-child {
    font-size: 24px; }

.openday-video-container {
  width: 60%;
  height: auto;
  position: relative;
  left: 50%; }

h3.openday-title--quote {
  position: relative;
  width: 314px;
  border: solid 12px #979797;
  padding: 36px; }
  h3.openday-title--quote:before, h3.openday-title--quote:after {
    content: '';
    display: block;
    position: absolute;
    left: 64px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 55px solid; }
  h3.openday-title--quote:before {
    bottom: -55px;
    border-top-color: #979797; }
  h3.openday-title--quote:after {
    bottom: -35px;
    border-top-color: #fff; }

.openday-rectangle-quote {
  position: relative;
  width: 289px;
  border: solid 12px #000;
  padding: 36px;
  z-index: 0; }
  .openday-rectangle-quote:before {
    content: '';
    display: block;
    position: absolute;
    background: white;
    top: -12px;
    bottom: -12px;
    left: 20px;
    right: 20px;
    z-index: -1; }

.tile1:before {
  content: '';
  display: block;
  position: absolute;
  width: 550px;
  height: 275px;
  background: #76777b; }

.section2c1 {
  width: 30%;
  border: 2px solid green; }

.section2c2 {
  width: 60%;
  border: 2px solid blue; }

.section3c1 {
  width: 30%;
  height: 60%;
  border: 2px solid green; }

.openday-content--widget {
  width: 60%;
  border: 2px solid blue; }

.openday-content--tiles {
  width: 80%;
  border: 2px solid green; }

.section4c1 {
  width: 30%;
  border: 2px solid green; }

.section4c2 {
  width: 60%;
  border: 2px solid blue; }
