.hide-visually, .openday-dates dt, .openday-dates__label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

body {
  max-width: 1194px;
  margin: 0 auto; }

header {
  position: relative;
  display: block;
  height: 48px;
  background-color: #4d4e50; }
  header h1 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    display: inline; }
  header .navigation {
    position: relative;
    height: 48px;
    bottom: 43px;
    left: 80%;
    width: 190px; }
  header ul {
    list-style-type: none;
    background-color: #76777b;
    height: 48px; }

main {
  background: #fff;
  position: relative; }

.openday-section {
  position: relative;
  overflow: auto;
  border-bottom: 2px solid #111;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border: 2px solid purple; }

.openday-section__column {
  float: left; }

.openday-section__column--1 {
  width: 25%;
  border: 2px solid gold; }
  @media (max-width: 767px) {
    .openday-section__column--1 {
      width: 100%; } }
  .openday-section--intro .openday-section__column--1 {
    width: calc(100% / 3);
    border: 1px solid blue; }
    @media (max-width: 767px) {
      .openday-section--intro .openday-section__column--1 {
        width: 100%; } }

.openday-section__column--2 {
  width: 70%;
  margin-top: 60px;
  margin-left: 30px;
  border: 1px solid lightgreen; }
  .openday-section--intro .openday-section__column--2 {
    width: 60%;
    border: 1px solid hotpink; }
    @media (max-width: 767px) {
      .openday-section--intro .openday-section__column--2 {
        width: 100%; } }

.openday-section__column--2--4 {
  margin-top: 18%; }

.openday-section__row {
  float: right;
  width: 73%;
  height: auto;
  border: 2px solid #fff342; }

.openday-image--intro {
  width: 100%; }

.openday-book-link {
  position: absolute;
  top: 77px;
  left: 1100px;
  padding: 10px;
  background-color: #76777b;
  color: #fff; }

.openday-title {
  text-transform: uppercase;
  font-size: 36px;
  padding-bottom: 5px;
  position: relative;
  margin: 0; }

.openday-title:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  bottom: 0;
  border-bottom: 5px solid #000; }

.openday-title--intro {
  font-family: FreightSansProSemi;
  font-size: 4em; }
  @media (max-width: 767px) {
    .openday-title--intro {
      font-size: 2em; } }

.openday-dates {
  color: #343436;
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .openday-dates {
      padding: 0px; } }

.openday-dates__date {
  margin-left: 0;
  margin-bottom: 10px; }
  @media (max-width: 767px) {
    .openday-dates__date {
      margin: 1px; } }

.openday-content--intro {
  padding-top: 35%; }
  .openday-content--intro p:first-child {
    font-size: 24px; }
  @media (max-width: 767px) {
    .openday-content--intro {
      padding-top: 0; } }

.openday-video-container {
  width: 100%; }
  .openday-video-container .openday-video {
    height: 300px;
    width: 100%; }
  .openday-video-container figure {
    margin: 0; }
  .openday-video-container figcaption {
    background-color: grey;
    height: 20%;
    padding-bottom: 10px; }

h3.openday-title--quote {
  position: relative;
  width: auto;
  border: solid 12px #979797;
  padding: 36px;
  font-style: italic;
  margin-top: 40px; }
  h3.openday-title--quote:before, h3.openday-title--quote:after {
    content: '';
    display: block;
    position: absolute;
    left: 5%;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 55px solid; }
  h3.openday-title--quote:before {
    bottom: -55px;
    border-top-color: #979797; }
  h3.openday-title--quote:after {
    bottom: -35px;
    border-top-color: #fff; }

.openday-rectangle-quote {
  position: relative;
  width: 71%;
  border: solid 12px #000;
  padding: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 0;
  height: auto; }
  .openday-rectangle-quote h3 {
    font-size: 36px;
    position: relative;
    left: 25%;
    padding: 0;
    margin: 0; }
  .openday-rectangle-quote dt {
    position: relative;
    left: 25%;
    font-size: 24px;
    font-style: italic; }
  .openday-rectangle-quote dd {
    position: relative;
    right: 5%;
    font-size: 16px; }
  .openday-rectangle-quote:before {
    content: '';
    display: block;
    position: absolute;
    background: white;
    top: -12px;
    bottom: -12px;
    left: 20px;
    right: 20px;
    z-index: -1; }

figure {
  margin-bottom: 0; }

figcaption {
  background-color: #343436;
  color: #fff; }
  figcaption h3 {
    margin: 0; }
  figcaption p {
    margin: 0;
    padding-bottom: 11px; }

.openday-image--parkinson {
  position: relative;
  width: 48%; }

.map-placeholder {
  float: left;
  position: relative;
  overflow: hidden;
  padding-top: 48.25%;
  width: 47%; }

.map-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.openday-tile {
  float: left; }
  .openday-tile p {
    color: white;
    font-size: 24px; }
    .openday-tile p a {
      color: white;
      list-style: none;
      text-decoration: none; }
  .openday-tile p.description {
    font-size: 16px; }

.openday-tile--square {
  width: 33.3%;
  height: 200px; }

.openday-tile--rectangle {
  width: 66.6%;
  height: 200px; }

.openday-tile--square__section3 {
  width: 25%; }

.openday-tile--rectangle__section3 {
  width: 50%; }

.openday-tile--lightgrey {
  background-color: #76777b; }

.openday-tile--lightgrey2 {
  background-color: #9b9b9b; }

.openday-tile--grey {
  background-color: #4d4e50; }

.openday-tile--darkgrey {
  background-color: #343436; }

.openday-tile--right {
  float: right;
  position: relative; }
