.openday-content {
  background: #fff;
  position: relative;
  width: 1392px; }

.openday-section1,
.openday-section2,
.openday-section3,
.openday-section4 {
  border-bottom: 2px solid #111; }

.openday-image--intro {
  width: 1392px;
  height: 696px; }

.openday-header {
  border-top: 77px solid #111;
  background-color: #4d4e50;
  padding: 0; }

.openday-title--main {
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: FreightSansMediumSC;
  padding-left: 50px; }

.openday-book-link {
  position: absolute;
  top: 77px;
  left: 1100px;
  padding: 10px;
  background-color: #76777b;
  color: #fff; }

.openday-title--intro {
  font-family: FreightSansProSemi;
  font-size: 72px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  margin: 0;
  text-transform: uppercase; }

.openday-title--intro:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  bottom: 0;
  border-bottom: 5px solid #000; }

.openday-dates {
  color: #343436;
  list-style-type: none;
  text-transform: uppercase; }
  .openday-dates li {
    margin: 10px 0; }

.openday-content--intro {
  position: absolute;
  left: 600px;
  top: 1140px;
  font-size: 20px;
  width: 50%; }
  .openday-content--intro p:first-child {
    font-size: 24px; }
