@import "components/colours";
body{
 max-width: 1194px;
 margin: 0 auto;
}
header {
  position: relative;
  display: block;
  height: 48px;
  background-color: $header-colour;
  h1{
    font-size: 24px;
    color: $white-colour;
    margin: 0;
    display: inline;
  }
  .navigation {
    position: relative;
    height: 48px;
    bottom: 43px;
    left: 80%;
    width: 190px;
    
    
  }
  ul {
    list-style-type: none;
    background-color: $link-colour;
    height: 48px;
    
  }
}
main {
    background: $white-colour;
    position:relative;
    
}

.openday-section  {
    position: relative;
    overflow: auto;
    border-bottom: 2px solid $black-colour;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border: 2px solid purple;
}

  .openday-section--intro {

  }
 
  .openday-section__column {
    float: left;
  }

    .openday-section__column--1 {
      width: 20%;
      

      border: 2px solid gold;

      .openday-section--intro &  {
        width: calc(100% / 3);
        

        border: 1px solid blue;
      }
    }

    .openday-section__column--2 {
      width: 75%;
     
      border: 1px solid lightgreen;

      .openday-section--intro &  {
        width: 60%;
        
        
        border: 1px solid hotpink;
      }
    }

.openday-image--intro {
  width: 100%;
}



.openday-book-link {
    position: absolute;
    top: 77px;
    left: 1100px;
    padding: 10px;
    background-color: $link-colour;
    color: $white-colour;
}
//BEM like naming for headings 
.openday-title {
  text-transform: uppercase;
  font-size: 36px;
  display: inline-block;
    padding-bottom: 5px;
    position: relative;
    margin: 0;
}

.openday-title:before {
        content: "";
        position: absolute;
        width: 15%;
        height: 1px;
        bottom: 0;
        border-bottom: 5px solid #000;
}

.openday-title--intro {
    font-family:FreightSansProSemi;
    font-size: 72px;
    
}

.openday-dates {
    color: $dates-colour;
    list-style-type: none;
    text-transform: uppercase;
    padding-bottom: 100px;
    li{
        margin: 10px 0;
      }
}
.openday-content--intro {
  padding-top: 35%;
    p:first-child{
        font-size: 24px;
      }
}
//video styling
.openday-video-container {
  
.openday-video {
  height: 300px;
  width: 100%;
}
figure {
  margin: 0;
}
figcaption {
  background-color: grey;
  height: 20%;
  padding-bottom: 10px;
}
width: 100%;

}
//widget figure

//Styling of pull quotes
h3.openday-title--quote {

        position: relative;
        width: 250px;
        border: solid 12px $quote-colour;
        padding: 36px;
        
        &:before,
        &:after{
          content: '';
          display: block;
          position: absolute;
          left: 64px;
          width: 0;
          height: 0;
          border-left: 40px solid transparent;
          border-right: 40px solid transparent;
          border-top: 55px solid;
        }
        
        &:before {
          bottom: -55px;
          border-top-color: $quote-colour;
        }
        
        &:after {
          bottom: -35px;
          border-top-color: #fff;
        }
      }
      //Styling of brackets quote
      .openday-rectangle-quote {
        position: relative;
        width: 289px;
        border: solid 12px #000;
        padding: 36px;
        z-index: 0;
        
        &:before { 
          content: '';
          display: block;
          position: absolute;
          background: white;
          top: -12px;
          bottom: -12px;
          left: 20px;
          right: 20px;

          z-index: -1;
        }
      }
    
    
    .openday-content--tile{
      li{
        list-style-type: none;
        color: $white-colour;
      }
    }
    //tiles
    .section2tile1 {
      width: 66%;
      height: 275px;
      float: left;
      background-color: $light-tile1;
    }
    .section2tile2 {
      width: 33%;
      height: 275px;
      background-color: $medium-tile-colour;
      float: left;
    }
    .section2tile3 {
      width: 550px;
      height: 275px;
      float: right;
      background-color: $dark-tile-colour;
    }
   //3 tiles

   .openday-content--tiles{
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid magenta;
   }
    .section3tile1 { 
      width: 500px;
      height: 200px;
      float: left;
      background-color: $dark-colour;
    }
    .section3tile2,
    .section3tile3 {
      width: 200px;
      height: 200px;
      float: left;
      background-color: $light-tile1;

    }
    .section3tile3{
      background-color: $dark-colour
    }
    .openday-content--tiles{
      ul {
        list-style-type: none;
        color: white;
      }
    }
    //section4 tiles
    .section4tile1{
      width: 400px;
      height: 200px;
      float: left;
      background-color: $light-tile1;
    }
    .section4tile2,
    .section4tile3,
    .section4tile4,
    .section4tile5{

      width: 200px;
      height: 200px;
      float: left;
      background-color: $light-tile1;
    }
    .section4tile2{
      
    }
    .section4tile3{
      
    }
    .section4tile4{
      
    }
    .section4tile5{
      
  }
    
    

    


