@import "components/colours";

.openday-content {
    background: $white-colour;
    position:relative;
    width: 1392px;
}
.openday-section1 {
    border-bottom: 10px solid $black-colour;
}
.openday-image--intro {
    width: 1392px;
    height: 696px;
}

.openday-header {
    border-top: 77px solid $black-colour;
    background-color: $header-colour;
    padding: 0;
}
.openday-title--main{
    margin: 0;
    padding: 10px;
    color: $white-colour;
    font-size: 16px;
    font-family: FreightSansMediumSC;
    padding-left: 50px;

}
.openday-book-link {
    position: absolute;
    top: 77px;
    left: 1100px;
    padding: 9px;
    background-color: $link-colour;
    color: $white-colour;
}
.openday-title--intro {
    font-family:FreightSansProSemibold;
    font-size: 72px;
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    margin: 0;
}

.openday-title--intro:before {
        content: "";
        position: absolute;
        width: 15%;
        height: 1px;
        bottom: 0;
        border-bottom: 5px solid #000;
}
.openday-dates {
    color: $dates-colour;
    list-style-type: none;
}
.openday-content--intro {
    position: absolute;
    left: 600px;
    top: 1000px;
    font-size: 20px;
    width: 50%;

    p:first-child{
        font-size:24px;
      }
}
.openday-video-section{
    
}